@import "./config/_reset.scss";
@import "./config/_variables";

* {
  box-sizing: border-box;
}
body {
  font-size: 1vw;
  background-color: $black;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.btn {
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

main,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  margin-top: 55px;
  margin-left: 70px;
}

@import "./components/header.scss";
@import "./components/shared.scss";
@import "./components/video.scss";
@import "./components/user.scss";

@import "./components/footer.scss";
