@import "./config/_reset.scss";
@import "./config/_variables";

body {
    font-size: 1vw;
    background-color: $black;
    color: #FFFFFF;

}

a {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

main , footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    margin-top: 55px;
    margin-left: 55px;
}


@import "./components/header.scss";
@import "./components/shared.scss";


@import "./components/footer.scss"