
header {
    position: fixed;
    top: 0;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    width: 98%;
    padding: 0.3% 1%;
    height: 3em;
    justify-content:space-between;
    align-items: center;
    .menu__and__logo {
        display: flex;
        align-items: center;
        margin-top: 0.4em;
        .mainlogo {
            display: flex;
            color: #FFFFFF;
            margin-left: 0.1em;
            font-size: 1.5em;
            a{
                display: flex;
            }
            }
            .material-icons {
                color: #FFFFFF;
            }
            #header__logo {
            height: 1.1em;
            width: 2.2em;
            } 
            .home__text {
            color: #FFFFFF;
            }
            .kr {
            color: rgba(255,255,255,0.5);
            text-decoration: none;
            vertical-align: super;
            font-size: 0.3em;
            }
            .fa-bars {
            color: #FFFFFF;
            }
        
    }
    #search__form {
        margin-left: 5vw;
        width: 35vw;
        display: flex;
        input {
            background-color: #121212;
            border-radius: 2%;
            color: #BFBFBF;
            border: 0.1em solid rgba(255,255,255,0.2) ;
            font-size: 1em;
            width: 80%;
            &:focus {
                outline: 0.1em solid #3EA6FF;
            }
            }
        button {
            margin-left: 0.1em;
            background-color: #323232;
            color: aliceblue;
            border: none;
            border-radius: 2%;
            padding: 0.5em 1em;
            font-size: 1em;
            &:hover {
                cursor: pointer;
            }  
        }
        .material-icons {
            margin-top: 0.2em;
        }    
    }
    .header__right {
        display: flex;
        align-items: center;
        ul {
            align-items: center;
            display: flex;
            li {
                padding: 1em;
                font-size: 0.75em;
            }
        }
        .material-icons {
            color: #323232;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            font-size: 2em;
            &:hover {
                cursor: pointer;
            }
        }
        .header__avatar {
            width: 1.6vw;
            height: 1.6vw;
            border-radius: 50%;
            &:hover {
                cursor: pointer;
            }
        }
        #header__login {
            border-radius: 5%;
            border: solid 1px #3EA6FF;
            padding: 1em;
            color: #3EA6FF;
        }
    }
}

.selected {
    color: #BFBFBF;
}

.header-pop {
    background-color: #202020;
    position: absolute;
    top:0;
    margin-top: 4em;
    margin-left: 80vw;
    color: #BFBFBF;
    display: none;
    width: 10em;
    flex-direction: column;
}