doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | 클로닝
        script(src="https://kit.fontawesome.com/2bdc5d6a73.js" crossorigin="anonymous") 
        link(rel="stylesheet" href="/static/css/styles.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body 
        include partials/header
        main
            h1=pageTitle
            block content
        include partials/footer
    script(src="/static/js/main.js") 