doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | 클로닝
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            nav 
                ul      
                        if !req
                        li 
                            a(href="/login") Log Out
                        li 
                            a(href="/login") Log In   
                        li 
                            a(href="/join") 회원가입                         
                        li 
                            a(href="/") 메인 화면으로
                        li
                            a(href="/search") 검색 

                ul 
                    li 
                        a(href="/videos/upload") 영상 업로드  
            h1=pageTitle
        main
            block content
    include partials/footer