header
    div.menu__and__logo
        button.btn
            span.material-icons menu
        button.btn.mainlogo 
            a(href="/") 
                img(src="/static/img/yt.svg", alt="yt", id="header__logo")
                span.home__text YouTube
                    span.kr KR
    div.search__bar
        form(method="GET" id="search__form") 
            input(type="text" placeholder=" 검색" name="keyword" class="search__input")
            button(type="submit" class="search__submit")
                span.material-icons search
    div.header__right
        if loggedIn
            ul
                li 
                    a(href="/videos/upload")
                        span.material-icons video_call
                li 
                    a(href="#") 
                        span.material-icons apps
                li 
                    a(href="#") 
                        span.material-icons notifications
                li 
                    a(href="#")
                        img(src="/" + loggedInUser.avatarUrl, alt="/uploads/avatars/a08c531591d275d87bb1f2a8381a63e6" id="header__avatar") 
        else   
                li 
                    a(href="") 
                li 
                    a(href="") 
                li 
                    a(href="") 
                li 
                    a(href="")  

    //-    
        if loggedIn
            ul.header__user
                li 
                    a(href="/users/logout") 로그아웃
                li 
                    a(href="/users/edit") #{loggedInUser.name}의 프로필 수정
        else
            ul.header__user
                li 
                    a(href="/login") 로그인   
                li 
                    a(href="/join") 회원가입                          
        if loggedIn
            ul.header__video
                li 
                    a(href="/videos/upload") 영상 업로드 
                li 
                    a(href=`/users/${loggedInUser._id}`) 내 프로필   

    