header
    div.menu__and__logo
        button.btn
            span.material-icons.header__menu menu
        button.btn.mainlogo 
            a(href="/")
                div.logo 
                    img(src="/uploads/img/yt.svg", alt="yt", id="header__logo")
                div.home__text
                    span MouTube
                        span.kr KR
    div.search__bar
        form(method="GET" id="search__form") 
            input(type="text" placeholder=" 검색" name="keyword" class="search__input")
            button(type="submit" class="search__submit")
                span.material-icons search
    div.header__right
        if loggedIn
            ul
                li 
                    span.material-icons.header__video video_call
                        table
                li 
                    span.material-icons.header__apps apps
                li 
                    span.material-icons.header__notifications notifications
                li 
                    if !loggedInUser.avatarUrl || loggedInUser.avatartUrl === ""
                        img(src="/uploads/avatars/avatar__basic.png", alt="아바타" , class="header__avatar")
                    else 
                        img(src=loggedInUser.avatarUrl, alt="아바타" class="header__avatar") 
        else
            ul   
                li 
                    span.material-icons.header__apps apps
                li 
                    span.material-icons.header__more more_vert
                li 
                    a(href="/login", id="header__login") 로그인   
.header-column
    ul.list
        li 홈
        li 탐색
        li Shorts
        li 구독
        li Originals
        li Youtube Music
        li 보관함
        li 오프라인 저장
.header-pop.pop.video-pop
    ul
        li
            span
                a(href="/videos/upload") 영상 업로드
.header-pop.pop.apps-pop
    ul
        li
            span
                a(href="") 이게 되는건가? 
.header-pop.pop.notify-pop
    ul
        li
            span
                a(href="") 알림 창 보여주기
.header-pop.pop.profile-pop
    ul
        li
            span
                a(href="/users/edit") 프로필 수정 
        li
            span
                a(href="/users/logout") 로그아웃
    //-    
        if loggedIn
            ul.header__user
                li 
                    a(href="/users/logout") 로그아웃
                li 
                    a(href="/users/edit") #{loggedInUser.name}의 프로필 수정
        else
            ul.header__user
                li 
                    a(href="/login") 로그인   
                li 
                    a(href="/join") 회원가입                          
        if loggedIn
            ul.header__video
                li 
                    a(href="/videos/upload") 영상 업로드 
                li 
                    a(href=`/users/${loggedInUser._id}`) 내 프로필   

    